@charset "utf-8";

/* 모달 스타일 */
.modal-write {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal-write.on {
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw; */
  overflow-y: auto;
  margin: 50px;
}

.modal-write::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
}

.modal-write .container-form-write {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 520px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  text-align: center;
}

.container-form-write .title-form {
  padding: 20px 0 18px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
}

.container-form-write .text-form {
  padding: 0 24px 0;
  margin: 26px 0 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.container-form-write .btn-close {
  position: absolute;
  padding: 13px 24px;
  top: 0;
  right: 0;
  z-index: 30;
  background-color: transparent;
}

.container-form-write .btn-close > img {
  width: 30px;
}

.container-form-write .textarea-form {
  text-align: start;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 10px;
  width: 75%;
  border: 1px solid #888;
  border-radius: 10px;
  resize: none;
}

.container-form-write .textarea-form::placeholder {
  color: #888;
}

.container-form-write .textarea-form:focus {
  border-color: orange;
  outline: 2px solid orange;
}

.container-form-write .button-write-form {
  font-family: "GmarketSansBold";
  display: block;
  margin: 0 auto 20px;
  font-size: 20px;
}

.container-form-write .textarea-form.form-shake {
  border: 1px solid rgb(255, 189, 189);
  outline: 2px solid rgb(255, 189, 189);
  animation: horizontal-shaking 0.35s;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
