@import url(./util/reset.css);
@import url(./header.css);
@import url(./modal/add.css);
@import url(./modal/nickname.css);
@import url(./modal/info.css);

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  font-family: "GmarketSansMedium";
  padding: 0 50px;
}

.container-main {
  padding: 70px 0;
}

.list-board {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.list-board > li {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  min-height: 350px;
  border-radius: 40px;
  border: 1px solid #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.list-board > li > img {
  border-radius: 30px;
  width: 100px;
  margin: -80px 0 30px;
}

.list-board > li > .nickname {
  padding: 0 0 15px;
  border-bottom: 1px solid #eaeaea;
  font-size: 20px;
}

.list-board > li > .nickname > strong {
  font-family: "GmarketSansBold";
}

.list-board > li > .content {
  max-height: 160px;
  overflow-y: auto;
  padding: 15px 0;
  line-height: 20px;
  color: #777;
}

@media screen and (max-width: 750px) {
  .list-board {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
  /*header*/
  .container-header {
    display: flex;
    justify-content: center;
  }
  .container-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
  }
  .nav-icons {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #eaeaea;
  }
  .nav-icons > li {
    display: block;
  }
  .nav-icons > li img {
    width: 30px;
  }
}

@media screen and (max-device-width: 420px) {
  .logo {
    font-size: 28px;
  }
  .nav-icons {
    height: 60px;
  }
}
